<!-- Tableau des demandes (Bootstrap) -->
<div class="container my-3">
	<h3>Liste des demandes</h3>
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead class="table-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Numéro</th>
					<th scope="col">Type</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				<!-- Ligne de test -->
				<tr>
					<th scope="row">1</th>
					<td>DEM-0001</td>
					<td>Test</td>
					<td>2025-10-15</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

